#container{
	width: 800px;
	height: 600px;
	margin: 0 auto;
}

#cam_neut{
	background: url("../img/NEUTRAL.png") no-repeat;
	width: 800px;
	height: 600px;
}

#cam_fuego, #cam_salsa, #cam_original {
	display: none;
}