*{
	margin: 0px;
	padding: 0px;
}


#container{
	width: 800px;
	height: 600px;
	margin: 0 auto;
	margin-top: 20px;
}

#cam_neut{
	background: url("../img/NEUTRAL.png") no-repeat;
	width: 800px;
	height: 600px;
}

#cam_fuego_div, #cam_salsa, #cam_original {
	display: none;
}
#cam_fuego_div, #cam_salsa, #cam_original{
	width: 800px;
	height: 600px;
}

#cam_fuego_div{
	background: url("../img/FUEGO.png");
}

#cam_salsa{
	background: url("../img/SALSABRAVA.png");
}

#cam_original{
	background: url("../img/ORIGINALES.png");
}

.takis_fuego, .takis_salsa, .takis_original{
	cursor: pointer;
}

.takis_fuego, .takis_salsa, .takis_original{
	border-style: none;
	width: 51px;
	height: 51px;
	background-color: transparent;
}

.takis_salsa, .takis_original{
	margin-top: 4px;
}

.cont_botones{
	height: 166px;
	width: 53px;
	float: right;
	position: relative;
	top: 289px;
	right: 65px;
	/*margin: 288px 66px 0px 0px;*/
}

.cont_botones_fuego{
	height: 166px;
	width: 53px;
	float: right;
	position: relative;
	top: 289px;
	right: 65px;
	/*margin: 288px 66px 0px 0px;*/
	z-index: 1;
}

.cont_boton_filtro{
	width: 147px;
	height: 31px;
	position: relative;
	top: 530px;
	float: left;
	right: 109px;
}

.boton_filtro_fuego, .boton_filtro_salsa, .boton_filtro_originales{
	width: 147px;
	height: 31px;
	border-style: none;
	background-color: transparent;
	cursor: pointer;
}

#rollo_fuego, #rollo_salsa, #rollo_originales{
	display: none;
	width: 591px;
	height: 205px;
	position: relative;
	top: 298px;
	left: 42px;
	opacity: .9	;
}

#rollo_fuego{
	background: url('../img/ROLLO_FUEGO.png');
}

#rollo_salsa{
	background: url('../img/FILTRO_SALSABRAVA.png');
}

 #rollo_originales{
 	background: url('../img/FILTRO_ORIGINALES.png');
 }

 #camara{
 	position:relative; top: 100px; left:100px;
 }

 #object_container{
	position: relative;
	top: 427px;
	left: 230px;
	margin-top: -155px;
	width: 320px;
}

#espacio{
	clear:both;
	height: 20px;
}