#container{
	width: 800px;
	height: 600px;
	margin: 0 auto;
}

#cam_neut{
	background: url("../img/NEUTRAL.png") no-repeat;
	width: 800px;
	height: 600px;
}

#cam_fuego, #cam_salsa, #cam_original {
	display: none;
}

#cam_fuego{
	background: url("../img/FUEGO.png");
	width: 800px;
	height: 600px;
}

#cam_salsa{
	background: url("../img/SALSABRAVA.png");
	width: 800px;
	height: 600px;
}

#cam_original{
	background: url("../img/ORIGINALES.png");
	width: 800px;
	height: 600px;
}

.takis_fuego, .takis_salsa, .takis_original{
	cursor: pointer;
}

.takis_fuego{
	border-style: none;
	width: 51px;
	height: 51px;
	background-color: transparent;
}

.takis_salsa, .takis_original{
	border-style: none;
	width: 51px;
	height: 51px;
	background-color: transparent;
	margin-top: 4px;
}

.cont_botones{
	height: 166px;
	width: 53px;
	float: right;
	margin: 288px 66px 0px 0px;
}